<div style="width: 100%;">
  <canvas
      baseChart
      [chartType]="'bar'"
      [datasets]="chartData"
      [labels]="chartLabels"
      [options]="chartOptions"
      [legend]="true"
      (chartClick)="onChartClick($event)">
  </canvas>
</div>
<div *ngFor="let chart of dataChart" class="table">
  <div class="row">
      <div class="col-md-12" style="width: 98px">
          <strong><small>{{chart.label}}</small></strong>
      </div>
      <div *ngFor="let item of chart.data" class="col-md-6 border border-light" style="width: 98px">
          <div>{{item}}</div>
      </div>
  </div>
</div>


